.card {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  transition: 0.2s ease-in-out;
  width: 250px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  height: 100px;
  object-fit: contain;
  width: 100px;
}

.card input {
  background-color: #5558641e;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  outline: none;
  padding: 0.5rem;
  text-align: center;
}

.cardcontainer {
  display: flex;
  flex-flow: row wrap;
  gap: 70px;
  justify-content: center;
  margin: 50px auto;
  width: 70%;
}

.buttonRemove {
  background-color: #da2a2a;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5em;
  transition: 0.2s ease-in-out;
}

.buttonAdd {
  background-color: #066106;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5em;
  transition: 0.2s ease-in-out;
}

.buttonAdd:hover {
  background-color: #054e05cb;
  transform: translateY(-5%);
}

.buttonRemove:hover {
  background-color: #da2a2ace;
  transform: translateY(-5%);
}

.footer {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 30px;
}

.footer button {
  background-color: #f03f5b;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 15px;
  transition: 0.2s ease-in-out;
  width: 120px;
}

.footer button:hover {
  background-color: #f03f5ab7;
  transform: scale(1.05);
}
