.card {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.card img {
  height: 100px;
  object-fit: contain;
  width: 100px;
}

.cardcontainer {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  width: 100%;
}
