.saleHeader {
  color: white;
  display: grid;
  font-size: 1.2rem;
  font-weight: 700;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  list-style: none;
  margin-bottom: 10px;
}

.title {
  color: white;
  margin: 20px 70px;
}
