body {
  background-color: #23232d;
}

.container {
  background-color: #faf9ff;
  border-radius: 15px;
  margin: 150px auto;
  padding: 25px;
  width: 300px;
}

.container h2 {
  color: #555864;
  text-align: center;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.container form label {
  color: #555864;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.container form label input {
  background-color: #5558641e;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 0.5rem;
}

.buttonform, .buttonRegister {
  align-items: center;
  background-color: #f03f5b;
  border: none;
  border-radius: 10px;
  color: #faf9ff;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  outline: none;
  padding: 0.5rem;
  transition: 0.2s ease-in-out;
}

.buttonRegister:hover {
  background-color: #f03f5abb;
  cursor: pointer;
  transform: scale(1.05);
}

.buttonform:hover {
  background-color: #f03f5abb;
  cursor: pointer;
  transform: scale(1.05);
}

.error {
  color: #f03f5b;
  font-size: 0.8rem;
  font-weight: 700;
}
