.container {
  margin: 0 auto;
}

.container form {
  align-items: flex-end;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px 5px #00000040;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 0.5rem;
  padding: 1rem;
}

.container form label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.container form input, select {
  padding: 0.3rem;
}

.container form button {
  background-color: green;
  border: none;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0.2rem;
  transition: filter 0.2s ease;
}

.container form button:hover {
  filter: brightness(120%);
}

.container form button:disabled {
  cursor: not-allowed;
  filter: grayscale(100);
}
