table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 auto;
  width: 90%;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table td {
  border-right: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table td:last-child {
  border-right: none;
}
