table{
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    color: #ddd;
    font-size: 1.2rem;
    font-weight: bold;
}

table tr{
    border-bottom: 1px solid #ddd;
}

table td{
    padding: 8px;
    text-align: center;
    border-right: 1px solid #ddd;
}

table td:last-child{
    border-right: none;
}