/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

h1 {
  font-size: 48px;
  width: 50%;
  margin-left: 25%;
  margin-top: 10px;
  text-align: center;
}

form {
  width: 20%;
  margin-left : 40%;
  margin-top: 50px;
  background-color: #e6ffe6;
  padding: 15px;
}


.login-btn {
  width: 100%;
}

.invalid-text {
  text-align: center;
<<<<<<< HEAD
  color: red;
}
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
